/*! Material v0.1.0 | (c) Josh Merlino | teh.picix@gmail.com */
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-size: 14pt;
    outline: 0;
}
button {
    cursor: pointer;
	font-family: 'Roboto', sans-serif;
    border: none;
    height: 36px;
    padding: 16px;
    padding-top: 6px;
    border-radius: 2pt;
    text-transform: uppercase;
    color: #FFF;
    margin: 2px;
    font-weight: 550;
    position: relative;
    overflow: hidden;
	width:49%;;
	background-color:#0cd;
	display:inline-block;
}
button:disabled {
    color: rgba(255, 255, 255, 0.5)
}
.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleEffect {
    animation: rippleDrop 0.8s linear;
    animation-timing-function: linear;
}
@keyframes rippleDrop {
    100% {
        transform: scale(10);
        opacity: 0;
    }
}
input[type="text"]{
	width:380px;
	font-family:roboto;
	padding:4px;
	border:none;
	border-bottom:1px solid #AAA;
	display:inline-table;
}
div.md-text-bar {
	position:absolute;
	height:2px;
	width:0px;
	display:none;
	background-color:#0cd;
}
input[type="radio"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid #6d6d6d;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
    position: absolute;
	margin:8px;
	background-color:#0cd;
}
label {
	position:absolute;
	font-family:roboto;
	
}
input[type="checkbox"] {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #AAA;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #FFF;
    font-size: 2px;
    font-weight: 900;
    cursor: pointer;
    margin: 8px;
    position: absolute;
	background-color:#0cd;
}
input[type="checkbox"]:checked {
    animation: checkbox 0.2s 1;
}
input[type="checkbox"]:checked:before {
    animation: checkboxripple 0.2s 1;
}
input[type="checkbox"]:checked:before {
    content: "\2143";
    display: inline-block;
    transform: rotate(45deg);
    position: relative;
    top: -6px;
    left: 2px;
    color: #FFF;
	text-align:center;
}
input[type="checkbox"]:checked:disabled:before {
    content: "\2014";
	top:-4px;
	left:0px;
	transform: rotate(0deg);
    color: #FFF;
	position:absolute;
}
input[type="checkbox"]:not(:checked):disabled:after {
    content: "\2014";
	top:-4px;
	left:0px;
	transform: rotate(0deg);
    color: #AAA;
	position:absolute;
}
div.checkripple {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    animation: checkboxripple 0.350s linear;
}
@keyframes checkboxripple {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: scale(7.5);
        opacity: 0;
    }
}