:root{
	--grey:#93A1A1;
	--red:#dc322f;
	--orange:#cb4b16;
	--yellow:#b58900;
	--green:#859900;
	--teal:#2aa198;
	--blue:#268bd2;
	--purple:#6c71c4;
	--pink:#d33678;
	--dgrey:#657B83;
}
.ace-solarized-dark {
	background-color:#002B36;
	color:var(--grey);
}
.ace-solarized-dark .ace_gutter {
	background:#01313f;
	color:#d0edf7;
}
.ace-solarized-dark .ace_print-margin {
	width:1px;
	background:#33555E;
}
.ace-solarized-dark .ace_marker-layer .ace_active-line {
	background:rgba(255, 255, 255, 0.1);
}
.ace-solarized-dark .ace_marker-layer .ace_selection {
	background:rgba(255, 255, 255, 0.1);
}
.ace-solarized-dark.ace_multiselect .ace_selection.ace_start {
	box-shadow:0 0 3px 0px #002B36;
}
.ace-solarized-dark .ace_marker-layer .ace_step {
	background:#AA8200;
}
.ace-solarized-dark .ace_marker-layer .ace_bracket {
	margin: -1px 0 0 -1px;
	border: 1px solid rgba(255,255,255,0.1);
	background-color:rgba(255,255,255,0.1);
}
.ace-solarized-dark .ace_gutter-active-line { 
	background-color: #0d3440;
}
.ace-solarized-dark .ace_marker-layer .ace_selected-word {
	border: 2px solid #rgba(255,255,255,0.2);
	border-radius:2px;
	background-color: rgba(255,255,255,0.2);
}
.ace-solarized-dark .ace_invisible {
	color:rgba(147, 161, 161, 0.50);
}
.ace-solarized-dark .ace_fold {
	background-color:#098;
}
.ace-solarized-dark .ace_indent-guide {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNg0Db1ZVCxc/sPAAd4AlUHlLenAAAAAElFTkSuQmCC) right repeat-y;
}





.ace-solarized-dark .ace_entity .ace_other .ace_attribute-name {
	color:var(--grey);
}
.ace-solarized-dark .ace_storage {
    color:var(--green);
}
.ace-solarized-dark .ace_cursor {
	color:var(--dgrey);
}
.ace-solarized-dark .ace_string.ace_regexp {
    color:var(--red);
}
.ace-solarized-dark .ace_entity.ace_name.ace_function {
	color:var(--yellow);
}
.ace-solarized-dark .ace_meta {
	color:var(--blue);
}
.ace-solarized-dark .ace_keyword {
	color:var(--green);
}
.ace-solarized-dark .ace_support.ace_class {
	color:var(--green);
}
.ace-solarized-dark .ace_support.ace_type {
    color:var(--yellow);
}
.ace-solarized-dark .ace_constant {
	color:var(--blue);
}
.ace-solarized-dark .ace_constant.ace_character {
	color:var(--teal);
}
.ace-solarized-dark .ace_support .ace_constant {
	color:var(--teal);
}
.ace-solarized-dark .ace_constant.ace_other {
    color:var(--teal);
}
.ace-solarized-dark .ace_constant.ace_language {
    color:var(--yellow);
}
.ace-solarized-dark .ace_constant.ace_numeric {
    color:var(--teal);
}
.ace-solarized-dark .ace_constant.ace_language.ace_escape {
    color:var(--red);
}
.ace-solarized-dark .ace_identifier {
	color:var(--yellow);
}
.ace-solarized-dark .ace_php_tag {
	color:var(--red);
}
.ace-solarized-dark .ace_entity.ace_name.ace_tag {
	color:var(--blue);
}
.ace-solarized-dark .ace_support.ace_function {
	color:var(--blue);
}
.ace-solarized-dark .ace_variable {
	color:var(--red);
}
.ace-solarized-dark .ace_variable.ace_language {
    color:var(--blue);
}
.ace-solarized-dark .ace_comment.ace_doc {
    color:var(--red);
}
.ace-solarized-dark .ace_string {
    color:var(--teal);
}
.ace-solarized-dark .ace_comment {
    font-style:italic;
    color:var(--dgrey);
}
.ace-solarized-dark .ace_operator {
	color:var(--grey);
}
.ace-solarized-dark .ace_text {
	color:var(--teal);
}