:root {
	--ftab:#EEE;
	--banner:#DEDEDE;
}
.mk-spinner-ripple{background-color:var(--loader)}.pc-setting-option{background-color:var(--dom)}div.file,select{color:var(--doc)}.banner{background-color:var(--banner)}.filestab{background-color:var(--ftab)}.purecode{background-color:var(--background_1);color:var(--default)}.purecode .ace_gutter{background:var(--background_2);color:var(--default)}.purecode .ace_print-margin{width:1px;background:var(--background_3)}
.purecode .ace_marker-layer .ace_active-line,.purecode .ace_marker-layer .ace_selection{background:rgba(128,128,128,.1)}.purecode.ace_multiselect .ace_selection.ace_start{box-shadow:0 0 3px 0 var(--background_1)}.purecode .ace_marker-layer .ace_bracket{margin:-1px 0 0 -1px;border:1px solid rgba(255,255,255,.1);background-color:rgba(255,255,255,.1)}.purecode .ace_gutter-active-line{background-color:var(--background_3)}
.purecode .ace_marker-layer .ace_selected-word{border:2px solid rgba(255,255,255,.2);border-radius:2px;background-color:rgba(255,255,255,.2)}.purecode .ace_invisible{color:rgba(147,161,161,.5)}.purecode .ace_fold{background-color:var(--fold)}.purecode .ace_indent-guide{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNg0Db1ZVCxc/sPAAd4AlUHlLenAAAAAElFTkSuQmCC) right repeat-y}
.purecode .ace_text{color:var(--string)}.purecode .ace_entity .ace_other .ace_attribute-name{color:var(--default)}.purecode .ace_storage{color:var(--keyword)}.purecode .ace_cursor{color:var(--comment)}.purecode .ace_string.ace_regexp{color:var(--arg)}.purecode .ace_entity.ace_name.ace_function{color:var(--normal)}.purecode .ace_meta{color:var(--function)}.purecode .ace_keyword,.purecode .ace_support.ace_class{color:var(--keyword)}
.purecode .ace_constant.ace_character,.purecode .ace_constant.ace_other,.purecode .ace_support .ace_constant{color:var(--string)}.purecode .ace_constant.ace_language{color:var(--normal)}.purecode .ace_constant.ace_numeric{color:var(--string)}.purecode .ace_constant.ace_language.ace_escape{color:var(--arg)}.purecode .ace_identifier{color:var(--normal)}.purecode .ace_php_tag{color:var(--arg)}
.purecode .ace_entity.ace_name.ace_tag,.purecode .ace_support.ace_function{color:var(--function)}.purecode .ace_variable{color:var(--arg)}.purecode .ace_variable.ace_language{color:var(--function)}.purecode .ace_comment.ace_doc{color:var(--arg)}.purecode .ace_string{color:var(--string)}.purecode .ace_comment{font-style:italic;color:var(--comment)}.purecode .ace_operator{color:var(--default)}
.purecode .ace_support.ace_type{color:var(--normal)}.purecode .ace_constant{color:var(--function)}.themesel {color:var(--default);}


.purecode .ace_gutter {
    background: #f0f0f0;
    color: #333;
}
.purecode .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
    
}
.purecode .ace_fold {
    background-color: #6B72E6;
    
}
.purecode {
    background-color: #FFFFFF;
    color: black;
    
}
.purecode .ace_cursor {
    color: black;
    
}
.purecode .ace_invisible {
    color: rgb(191, 191, 191);
    
}
.purecode .ace_storage,
.purecode .ace_keyword {
    color: blue;
    
}
.purecode .ace_constant {
    color: rgb(197, 6, 11);
    
}
.purecode .ace_constant.ace_buildin {
    color: rgb(88, 72, 246);
    
}
.purecode .ace_constant.ace_language {
    color: rgb(88, 92, 246);
    
}
.purecode .ace_constant.ace_library {
    color: rgb(6, 150, 14);
    
}
.purecode .ace_invalid {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    
}
.purecode .ace_support.ace_function {
    color: rgb(60, 76, 114);
    
}
.purecode .ace_support.ace_constant {
    color: rgb(6, 150, 14);
    
}
.purecode .ace_support.ace_type,
.purecode .ace_support.ace_class {
    color: rgb(109, 121, 222);
    
}
.purecode .ace_keyword.ace_operator {
    color: rgb(104, 118, 135);
    
}
.purecode .ace_string {
    color: rgb(3, 106, 7);
    
}
.purecode .ace_comment {
    color: rgb(76, 136, 107);
    
}
.purecode .ace_comment.ace_doc {
    color: rgb(0, 102, 255);
    
}
.purecode .ace_comment.ace_doc.ace_tag {
    color: rgb(128, 159, 191);
    
}
.purecode .ace_constant.ace_numeric {
    color: rgb(0, 0, 205);
    
}
.purecode .ace_variable {
    color: rgb(49, 132, 149);
    
}
.purecode .ace_xml-pe {
    color: rgb(104, 104, 91);
    
}
.purecode .ace_entity.ace_name.ace_function {
    color: #0000A2;
    
}
.purecode .ace_heading {
    color: rgb(12, 7, 255);
    
}
.purecode .ace_list {
    color: rgb(185, 6, 144);
    
}
.purecode .ace_meta.ace_tag {
    color: rgb(0, 22, 142);
    
}
.purecode .ace_string.ace_regex {
    color: rgb(255, 0, 0)
}
.purecode .ace_marker-layer .ace_selection {
    background: rgb(181, 213, 255);
    
}
.purecode.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px white;
    
}
.purecode .ace_marker-layer .ace_step {
    background: rgb(252, 255, 0);
    
}
.purecode .ace_marker-layer .ace_stack {
    background: rgb(164, 229, 101);
    
}
.purecode .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgb(192, 192, 192);
    
}
.purecode .ace_marker-layer .ace_active-line {
    background: rgba(0, 0, 0, 0.07);
    
}
.purecode .ace_gutter-active-line {
    background-color: #dcdcdc;
    
}
.purecode .ace_marker-layer .ace_selected-word {
    background: rgb(250, 250, 255);
    border: 1px solid rgb(200, 200, 250);
    
}
.purecode .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;
    
}