:root{
	--default:#93A1A1;
	--arg:#dc322f;
	--normal:#b58900;
	--keyword:#859900;
	--string:#2aa198;
	--function:#268bd2;
	--comment:#657B83;
	
	--background_1:#002B36;
	--background_2:#01313f;
	--background_3:#33555E;
	--fold:#0cd;
	
	--loader:#098;
	--dom:#0cd;
	--doc:#FFF;
	--banner:#045;
	--ftab:#067;
}
.mk-spinner-ripple{background-color:var(--loader)}.pc-setting-option{background-color:var(--dom)}div.file,select{color:var(--doc)}.banner{background-color:var(--banner)}.filestab{background-color:var(--ftab)}.purecode{background-color:var(--background_1);color:var(--default)}.purecode .ace_gutter{background:var(--background_2);color:var(--default)}.purecode .ace_print-margin{width:1px;background:var(--background_3)}
.purecode .ace_marker-layer .ace_active-line,.purecode .ace_marker-layer .ace_selection{background:rgba(128,128,128,.1)}.purecode.ace_multiselect .ace_selection.ace_start{box-shadow:0 0 3px 0 var(--background_1)}.purecode .ace_marker-layer .ace_bracket{margin:-1px 0 0 -1px;border:1px solid rgba(255,255,255,.1);background-color:rgba(255,255,255,.1)}.purecode .ace_gutter-active-line{background-color:var(--background_3)}
.purecode .ace_marker-layer .ace_selected-word{border:2px solid rgba(255,255,255,.2);border-radius:2px;background-color:rgba(255,255,255,.2)}.purecode .ace_invisible{color:rgba(147,161,161,.5)}.purecode .ace_fold{background-color:var(--fold)}.purecode .ace_indent-guide{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNg0Db1ZVCxc/sPAAd4AlUHlLenAAAAAElFTkSuQmCC) right repeat-y}
.purecode .ace_text{color:var(--string)}.purecode .ace_entity .ace_other .ace_attribute-name{color:var(--default)}.purecode .ace_storage{color:var(--keyword)}.purecode .ace_cursor{color:var(--comment)}.purecode .ace_string.ace_regexp{color:var(--arg)}.purecode .ace_entity.ace_name.ace_function{color:var(--normal)}.purecode .ace_meta{color:var(--function)}.purecode .ace_keyword,.purecode .ace_support.ace_class{color:var(--keyword)}
.purecode .ace_constant.ace_character,.purecode .ace_constant.ace_other,.purecode .ace_support .ace_constant{color:var(--string)}.purecode .ace_constant.ace_language{color:var(--normal)}.purecode .ace_constant.ace_numeric{color:var(--string)}.purecode .ace_constant.ace_language.ace_escape{color:var(--arg)}.purecode .ace_identifier{color:var(--normal)}.purecode .ace_php_tag{color:var(--arg)}
.purecode .ace_entity.ace_name.ace_tag,.purecode .ace_support.ace_function{color:var(--function)}.purecode .ace_variable{color:var(--arg)}.purecode .ace_variable.ace_language{color:var(--function)}.purecode .ace_comment.ace_doc{color:var(--arg)}.purecode .ace_string{color:var(--string)}.purecode .ace_comment{font-style:italic;color:var(--comment)}.purecode .ace_operator{color:var(--default)}
.purecode .ace_support.ace_type{color:var(--normal)}.purecode .ace_constant{color:var(--function)}.themesel {color:var(--default);}.purecode .ace_text.ace_xml {color:var(--default)}